NEXT_PUBLIC_WEBSERVER_HOST='localhost:3000'

NEXT_PUBLIC_BUCKET='<your_bucket_name>'

NEXT_PUBLIC_API_URL="https://api.your_domain.com"
NEXT_PUBLIC_API_PORT="3333"

NEXT_PUBLIC_MAINTENANCE_MODE="false"

NEXT_PUBLIC_COOKIE_DOMAIN=".bbz.com.br"

API_DOC_USER="user"
API_DOC_PASSWORD="password"
